:root {
    --text-color: #F9F8F5;
    --accent-color: #F55226;
    --primary-color: #18A5D9;
    --secondary-color: #FEC022;
    --background-color: #53394D;
    --background-color-gray: #f1f1f1;
    --title-font: "Lilita One", sans-serif;
    --body-font: "Josefin Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

/*Inicio whatsapp*/

.whatsapp {
    font-size: 2rem;
}

.whatsapp a {
    width: 60px;
    height: 60px;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    background-color: #29D469;
    transition: background-color 0.2s ease-in-out;
}
.whatsapp a:hover{
    background-color: #1fbe59;
}
/*Fim whatsapp*/

/*Menu topo*/
.navbar {
    height: 80px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}

.navbar-brand {
    margin: 0;
    padding: 0 20px;
}

.nav-link {
    width: 130px;
    font-size: 20px;
    color: var(--text-color);
}

.navbar-nav .nav-link.active {
    color: var(--secondary-color);
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

/*Menu topo*/

/*Home*/
#home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('./img/fundo-home.jpg');

}

.fundo-home {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    backdrop-filter: blur(4px);
    font-family: var(--body-font);
    background-color: rgba(0, 0, 0, 0.566);
    text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.fundo-home h1 {
    max-width: 800px;
    font-size: 3rem;
    color: var(--text-color);
}

.fundo-home h2 {
    color: var(--secondary-color);
}

.bt-experimental {
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--accent-color);
    transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
}

.bt-experimental:hover {
    transform: scale(1.1);
    background-color: var(--primary-color);
}

/*Home*/

/*Sobre*/
#sobre {
    margin: auto;
    background-color: var(--background-color-gray);
}

#sobre video{
    max-width: 1000px;
}

#sobre h2 {
    margin: 50px 0 80px 0;
}

.cards-sobre {
    gap: 40px;
    max-width: 1200px;
}

.card-sobre {
    width: 200px;
    padding: 10px;
    position: relative;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.card-sobre:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-sobre img {
    top: -60px;
    left: 25px;
    position: absolute;
}

#criatividade {
    left: 40px;
}

.card-sobre h4 {
    margin-top: 80px;
}

/*Cursos*/
#cursos {
    height: 100%;
    background-color: rgb(47, 75, 111);
}

#cursos h2 {
    color: var(--text-color);
}

.curso-kids,
.curso-teen {
    margin: auto;
    padding: 20px;
    display: flex;
    max-width: 1000px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: white;
}

.idade {
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--primary-color);
}

.javascript {
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--secondary-color);

}

.conteudo-kids {
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
}

.conteudo-teen {
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-around;
}

.curso-teen {
    justify-content: end;
}

.cards-cursos {
    gap: 20px;
}

.card-curso {
    width: 130px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.roblox {
    background-image: url('./img/roblox-logo.jpeg');
    background-size: cover;
}

.jogos-2d {
    background-image: url('./img/jogo2d.jpeg');
    background-size: cover;
}

.aplicativos {
    background-image: url('./img/app2.jpeg');
    background-size: cover;
}

.sites {
    background-image: url('./img/sites.jpeg');
    background-size: cover;
}

.unity {
    background-image: url('./img/unity.png');
    background-size: cover;
}

.python {
    background-image: url('./img/python.jpeg');
    background-size: cover;
}

/*Projetos*/
#projetos {
    background-color: var(--background-color-gray);
}

.bt-visualizar {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    transition: transform 0.5s ease-in-out;
}

.bt-visualizar:hover {
    transform: scale(1.3);
}

.cards-projetos {
    max-width: 1000px;
}

.card {
    border: none;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.card-curso-conteudo {
    text-align: center;
    width: 100%;
    backdrop-filter: blur(10px);

}
.projeto-calculadora{
    background-image: url('./img/capaCalculadora.png');
}
.projeto-tarefas{
    background-image: url('./img/capaTarefas2.png');
}
.projeto-selfie{
    background-image: url('./img/capaFotoPorVoz.png');
}
.projeto-2d{
    background-image: url('./img/capaJogo2D.png');
}
.projeto-roblox{
    background-image: url('./img/capaRoblo.png');
}
.projeto-clima{
    background-image: url('./img/capaClima.png');
}
.card-img-top {
    
    background-size: cover;
    background-position: center;
    height: 50px;
}

/*Depoimentos*/
#depoimentos {
    background-image: url('./img/fundo-depoimentos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
}

.fundo-depoimentos {
    background-color: rgba(0, 0, 0, 0.679);
    backdrop-filter: blur(2px);
    padding-bottom: 40px;
}

#depoimentos h3 {
    color: var(--text-color);
    padding: 50px;
}

.depoimentos-conteudo {
    margin-top: 40px;
    max-width: 1000px;
    margin: auto;
}

.depoimento {
    width: 100%;
    margin: 50px 0;
}

.img-depoimento {
    z-index: 99;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
}

.img-depo-left {
    left: -60px;
}

.img-depo-right {
    right: -60px
}

.texto-depoimento {
    background-color: white;
    text-align: left;
    border-radius: 20px;
    padding: 30px;
    max-width: 500px;
    position: relative;
}

#planos{
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
}
.planos{
    padding: 40px;
    gap: 40px;
}
#planos h3{
    margin-bottom: 50px;
}
.plano-individual{
    background: rgb(142,233,235);
    background: linear-gradient(183deg, rgba(142,233,235,1) 0%, rgba(230,193,114,1) 100%);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    border-radius: 20px;
}
.plano-beneficios{
    width: 250px;
    margin: auto;
    list-style-type: none;
    text-align: left;
}
.plano-beneficios i{
    margin-right: 10px;
    color: #1fbe59;
}

.preco{
    color: var(--primary-color);
    font-size: 2rem;
}
.accordion{
    padding: 50px 0;
}

#footer{
    height: 300px;
    background-color: rgb(39, 39, 39);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.contatos{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.contatos a{
    text-decoration: none;
    color: #18A5D9;
}
.contatos a:hover{
    color: var(--accent-color);
}
.fa-heart{
    color: red;
}
.footer{
    color: rgb(156, 156, 156);
}