:root{
    --primary-color: #18A5D9; 
    --secondary-color: #FEC022;
    --accent-color: #F55226;
    --text-color: #F9F8F5;
    --background-color: #53394D;
    --title-font: "Lilita One", sans-serif;
    --body-font: "Josefin Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
}

/*Menu topo*/
.navbar-brand{
    margin: 0;
    padding: 0 20px;
}
.nav-link{
    width: 110px;
}
.navbar-nav .nav-link.active{
    color: var(--secondary-color);
}
.navbar-nav .nav-link:hover{
    color: var(--secondary-color);
}
.bg-dark{
    --bs-bg-opacity: 0.9;
}
/*Menu topo*/

/*Home*/
#home{
    background-image: url('./img/fundo-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.fundo-home{
    background-color: rgba(0, 0, 0, 0.566);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    gap: 20px;
    font-family: var(--body-font);
}
.fundo-home h2{
    color: var(--secondary-color);
}
.bt-experimental{
    background-color: var(--accent-color);
    padding: 10px 20px;
    border-radius: 15px;
    color: var(--text-color);
    text-decoration: none;
    transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
}
.bt-experimental:hover{
    background-color: var(--primary-color);
    transform: scale(1.1);
}
/*Home*/

/*Sobre*/
#sobre{
    height: 100vh;
    max-width: 1000px;
    margin: auto;
}
#sobre h3{
    margin: 100px 0;
}
.cards-sobre{
    gap: 40px;
}
.card-sobre{
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}
.card-sobre:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-sobre img{
    position: absolute;
    top: -60px;
    left: 25px;
}
#criatividade{
    left: 40px;
}
.card-sobre h4{
    margin-top: 80px;
}
